{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TranCIT Prototype</title>
  <link rel="stylesheet" href="{% static 'route_input/css/styles.css' %}">
</head>
<body>

  <!-- top naviagtion panel -->
  <div class="topNav">
    <ul>
      <li><a href="#Logo_place_holder" class="active">TranCIT</a></li>
      <input type="text" placeholder="Search..">
    </ul>
  </div>
  
  <div class="container">

    <!-- Left Panel -->
    <aside class="sidebar">
      <h3>Route Input</h3>
        <form id="routeForm" method="post" novalidate>
          {% csrf_token %}

          <label>Current Location</label>
          <input type="text" name="origin" placeholder="Enter current location" required>
          <span class="error" id="error-origin"></span>

          <label>Search</label>
          <input type="text" name="destination" placeholder="Search destination" required>
          <span class="error" id="error-destination"></span>

          <label>Transportation Type</label>
          <select name="transport_type" required>
            <option value="">--Select--</option>
            <option>Jeepney</option>
            <option>Bus</option>
            <option>Taxi</option>
          </select>
          <span class="error" id="error-transport"></span>

          <label>Fare Estimator</label>
          <input type="number" name="fare" min="0" step="1" placeholder="Estimated Fare">
          <span class="error" id="error-fare"></span>

          <button type="submit" class="btn primary">Navigate</button>
        </form>


      <div class="saved-locations">
        <h4>Saved Locations</h4>
        <ul id="savedList"></ul>
      </div>
    </aside>

    <!-- Map Area -->
    <main class="map-area">
      <img src="{% static 'route_input/images/sample_map.jpg' %}" alt="Map" class="map-image">
      <div class="map-controls">
        <button onclick="zoomIn()">+</button>
        <button onclick="zoomOut()">-</button>
      </div>
    </main>

    <!-- Suggestions -->
    <aside class="suggestions">
      <h3>Suggestions</h3>
      <ul>
        <li>"Sakay 12I para CIT-U"</li>
        <li>"Ride 03A to Colon"</li>
      </ul>
      <textarea placeholder="Write your own suggestion"></textarea>
      <button class="btn">Submit</button>
    </aside>

  </div>

  <script src="{% static 'route_input/js/script.js' %}"></script>
</body>
</html>